{% extends "internaltools/base.html" %}
{% block title %}blockaccount{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"{% endif %}>
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- form search users -->
        <form id="blockaccount" action="" novalidate="" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <fieldset class="form-group border" {{ freezeForm|yesno:"disabled," }}>
                    <legend>Block Account:</legend>
                    <div class="row mb-3">
                        <label for="{{ formBlockAccount.loginName.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.loginName.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.loginName }}
                            <small class="form-text text-danger">{{ formBlockAccount.loginName.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.actionType.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.actionType.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.actionType }}
                            <small class="form-text text-danger">{{ formBlockAccount.actionType.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.specialNote.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.specialNote.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.specialNote }}<small class="form-text text-danger">{{ formBlockAccount.specialNote.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.unblockPossible.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.unblockPossible.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.unblockPossible }}
                            <small class="form-text text-danger">{{ formBlockAccount.unblockPossible.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.standardPrompt.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.standardPrompt.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.standardPrompt }}
                            <small class="form-text text-danger">{{ formBlockAccount.standardPrompt.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.englishPrompt.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.englishPrompt.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.englishPrompt }}
                            <small class="form-text text-danger">{{ formBlockAccount.englishPrompt.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.frenchPrompt.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.frenchPrompt.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.frenchPrompt }}
                            <small class="form-text text-danger">{{ formBlockAccount.frenchPrompt.errors }}</small>
                        </div>
                        <label for="{{ formBlockAccount.operator.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formBlockAccount.operator.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formBlockAccount.operator }}<small class="form-text text-danger">{{ formBlockAccount.operator.errors }}</small>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit"
                                    name="updateItemBTN"
                                    value="1"
                                    class="btn btn-secondary mb-3">Block Account</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <!-- end form search users -->
        <div class="row mb-3 border-top border-bottom border-2">
            <div class="col-sm-2 fw-bold">Date Joined</div>
            <div class="col-sm-2 fw-bold">Expiration</div>
            <div class="col-sm-2 fw-bold">Status</div>
            <div class="col-sm-2 fw-bold">Balance</div>
            <div class="col-sm-2 fw-bold">Next Bill</div>
            <div class="w-100 d-none d-sm-block border-bottom">
                <!-- new row -->
            </div>
            <div class="col-sm-2">{{ userInfo.DateJoined|date:"Y-m-d" }}</div>
            <div class="col-sm-2">{{ userInfo.AccountExpires|date:"Y-m-d"|default:"" }}</div>
            <div class="col-sm-2">{{ userInfo.ActiveUser|yesno:"Active," }}</div>
            <div class="col-sm-2">{{ userInfo.OutStandingBalance|floatformat:2 }}</div>
            <div class="col-sm-2">{{ userInfo.NextBilling|date:"Y-m-d" }}</div>
            <div class="w-100 d-none d-sm-block border-bottom"></div>
        {% endblock %}
