<div class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'updateuser:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Create Update</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'infouser:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Info User</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'usersearch:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">User Search</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'conndebug:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Debugging</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/antispam/index.php?{{ urlQuery }}">Antispam</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/reactivate/index.php?{{ urlQuery }}">Reactivate</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/payproc/?{{ urlQuery }}">Pay Process</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="w-100 d-none d-sm-block">
                    <!-- use 7 columns for screens bigger than -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/adsl/index.php?{{ urlQuery }}">DSL</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://nexxia.{{ domain }}/?{{ urlQuery }}">Tickets</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'userplans:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">User Plans</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/troublereporter/">Outages</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0" href="https://internal.{{ domain }}/support/">TechSup</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="w-100 d-none d-sm-block">
                    <!-- use 7 columns for screens bigger than -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'userinvoice:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">User Invoices</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'outstandingissues:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Outstanding issues</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'netstats:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Connection Time</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'endaccount:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">End Account</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'restoreuser:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Restore User</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
			{% url 'blockaccount:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Block Account</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="w-100 d-none d-sm-block">
                    <!-- use 7 columns for screens bigger than -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'payment:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Payment</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'mailaccount:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Additional Email</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'commentlogs:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Comment Logs</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/iplocator/index.php?{{ urlQuery }}">Locate IP</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/billinglist/?{{ urlQuery }}">Billing Reminders</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'changepass:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Change Pass</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/latepayments/?{{ urlQuery }}">Late Payments</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="w-100 d-none d-sm-block">
                    <!-- use 7 columns for screens bigger than -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'updateinvoice:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Update Invoice</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'webhosting:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Webhosting</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        <a class="nav-link p-0"
                           href="https://internal.{{ domain }}/tellocator/index.php?{{ urlQuery }}">Locate Tel</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'verifypass:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">Verify Password</a>
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                    </div>
                    <!-- nav-link -->
                </li>
                <li class="nav-item col p-0">
                    <div class="nav-link p-0 border">
                        {% url 'userinput:index' as thisurl %}
                        <a class="nav-link p-0 {% if request.path == thisurl %}active{% endif %}"
                           href="{{ thisurl }}">User Input</a>
                    </div>
                    <!-- nav-link -->
                </li>
            </ul>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <div class="border border-bottom border-danger"></div>
</div>
