{% extends "internaltools/base.html" %}
{% block title %}infouser{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"{% endif %}>
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>{{ debugMessage }}</h1>
        <!-- form search users -->
        <form id="SearchLoginForm" action="" novalidate="" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <fieldset class="form-group border">
                    <legend>Info User:</legend>
                    <div class="row mb-3">
                        <label for="{{ formSearchLogin.loginName.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">
                            {{ formSearchLogin.loginName.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ formSearchLogin.loginName }}
                            <small class="form-text text-danger">{{ formSearchLogin.loginName.errors }}</small>
                        </div>
                        <label for="{{ formSearchLogin.passe.id_for_label }}"
                               class="border-bottom col-sm-2 col-form-label">{{ formSearchLogin.passe.label }}</label>
                        <div class="col-sm-10">
                            {{ formSearchLogin.passe }}<small class="form-text text-danger">{{ formSearchLogin.passe.errors }}</small>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary mb-3">Search</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <!-- end form search users -->
        <!-- start user info -->
        {% if not isDisabled %}
            <div class="row mb-3 border-top border-bottom border-2">
                <div class="col-sm-2">Name:</div>
                <div class="col-sm-10">
                    {{ userInfo.OrganizationName|default:"" }} {{ userInfo.FirstName }}, {{ userInfo.LastName }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Address:</div>
                <div class="col-sm-10">
                    {{ userInfo.Address }}, {{ userInfo.City }}, {{ userInfo.State }}, {{ userInfo.PostalCode }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Telephone:</div>
                <div class="col-sm-10">{{ userInfo.HomePhone }} / {{ userInfo.AccountNumber }}</div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                {% for eachPlan in userPlans %}
                    <div class="col-sm-2 bg-light">
                        {% if forloop.first %}Membership:{% endif %}
                    </div>
                    <div class="col-sm-10 bg-light">
                        - {{ eachPlan.NextBilling|date:"Y-m-d" }}: {{ eachPlan.CurrentPlan }} {{ eachPlan.DomainName|default:"" }}
                    </div>
                    <div class="w-100 d-none d-sm-block border-bottom">
                        <!-- new row -->
                    </div>
                {% endfor %}
                <div class="col-sm-2">Credit Card:</div>
                <div class="col-sm-10">{{ userInfo.CreditcardNumber|default:""|truncatechars:8 }} {{ userInfo.CreditCardExpiry|date:"ym" }}</div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Preauth. payment:</div>
                <div class="col-sm-10">
                    {{ userInfo.BkBranchTransit|default:"" }} {{ userInfo.BkInstitutionID|default:"" }} {{ userInfo.BkAccount|default:"" }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Reference:</div>
                <div class="col-sm-10">
                    {{ userInfo.BankName }} {{ userInfo.CheckNumber }} {{ userInfo.BankAccount }} {{ userinfo.AuthorizationCode }} {{ userInfo.IdentificationCard }} {{ userInfo.ReferredBy|default:"" }} Language:{{ userInfo.Language|default:"FR" }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Notes:</div>
                <div class="col-sm-10 bg-info-subtle">{{ userInfo.Notes }}</div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Member since:</div>
                <div class="col-sm-10">{{ userInfo.DateJoined|date:"Y-m-d" }}</div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Account balance:</div>
                <div class="col-sm-10">{{ userInfo.AccountBalance|yesno:"$,$," }}{{ userInfo.AccountBalance|floatformat:2 }}</div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Last invoice:</div>
                <div class="col-sm-10">
                    {{ userInfo.LastInvoiceStatus }} {{ userInfo.LastInvoiceBalance|yesno:"$,$," }}{{ userInfo.LastInvoiceBalance|floatformat:2 }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Outstanding balance:</div>
                <div class="col-sm-10 fw-bold">
                    {{ userInfo.OutStandingBalance|yesno:"$,$," }}{{ userInfo.OutStandingBalance|floatformat:2 }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                <div class="col-sm-2">Account status:</div>
                <div class="col-sm-10 {{ userInfo.ActiveUser|yesno:'bg-success-subtle,bg-warning-subtle' }}">
                    {{ userInfo.ActiveUser|yesno:"Acive,Inactive" }} {{ userInfo.TempoDisable|yesno:"Temporary disabled," }}
                </div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
            </div>
        {% endif %}
        <!-- end user info -->
        <!-- form callLogs -->
        <form id="CallComments" action="" novalidate="" method="POST">
            {% csrf_token %}
            {% for hidden in formCallLog.hidden_fields %}{{ hidden }}{% endfor %}
            <button disabled style="display:none;">
                <!-- this hidden button to disable submit on Enter key -->
            </button>
            <fieldset class="form-group border" {{ isDisabled }}>
                <legend>Call Log:</legend>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        {{ formCallLog.operator }}
                        <small class="form-text text-danger">{{ formCallLog.operator.errors }}</small>
                    </div>
                    <div class="col-sm-6">
                        {{ formCallLog.specialNote }}
                        <small class="form-text text-danger">{{ formCallLog.specialNote.errors }}</small>
                    </div>
                    <label for="{{ formCallLog.requiresFeedback.id_for_label }}"
                           class="col-sm-1 col-check-label text-end">{{ formCallLog.requiresFeedback.label }}</label>
                    <div class="col-sm-1">
                        {{ formCallLog.requiresFeedback }}
                        <small class="form-text text-danger">{{ formCallLog.requiresFeedback.errors }}</small>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit"
                                name="updateItemBTN"
                                value="1"
                                accesskey="l"
                                title="alt-L / ctrl-alt-L"
                                class="btn btn-secondary">Update</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- end form callLogs -->
        {% if not isDisabled %}
            <div class="row mb-3 border-top border-bottom border-2">
                <div class="col-sm-1">Date:</div>
                <div class="col-sm-2">Type:</div>
                <div class="col-sm-1">Operator:</div>
                <div class="col-sm-6">Description:</div>
                <div class="col-sm-1">Invoice:</div>
                <div class="col-sm-1">Amount:</div>
                <div class="w-100 d-none d-sm-block border-bottom">
                    <!-- new row -->
                </div>
                {% for eachLog in callLogs %}
                    {% cycle 'bg-light' 'bg-light-subtle' as rowcolor silent %}
                    {% with eachLog.ReqAttention|yesno:"bg-warning-subtle,bg-success-subtle," as reqAttention %}
                        <div class="col-sm-1 {{ reqAttention }}">{{ eachLog.TranDate|date:"Y-m-d H:i" }}</div>
                    {% endwith %}
                    <div class="col-sm-2 {{ rowcolor }}">{{ eachLog.Type }}</div>
                    <div class="col-sm-1 {{ rowcolor }}">{{ eachLog.Operator|default:"" }}</div>
                    <div class="col-sm-6 {{ rowcolor }}">{{ eachLog.Desc1|default:"" }} {{ eachLog.Desc2|default:"" }}</div>
                    <div class="col-sm-1 {{ rowcolor }}">{{ eachLog.InvoiceNum|default:"" }}</div>
                    <div class="col-sm-1 {{ rowcolor }}">{{ eachLog.PaidAmount|yesno:"$,$," }}{{ eachLog.PaidAmount|floatformat:2 }}</div>
                    <div class="w-100 d-none d-sm-block border-bottom">
                        <!-- new row -->
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
